.offert
{
	background-color: #f7f7f7;
	padding: 50px 0;
	overflow: initial;

	&__wrapper {
		width: 95%;
		max-width: 1100px;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		z-index: 3;
	}

	&__item {
		background-color: #ffffff;
		margin-bottom: 2px;
		padding: 25px 20px;
	
		&__heading {
			font-family: $headings-font;
			color: #000000;
			font-size: 19px;
			text-align: center;
			margin: 0;
			margin-bottom: 15px;
			font-weight: 700;
		}

		&__text {
			padding: 0;
			margin: 0;
			color: #595959;
		}
	}
}

@media screen and (min-width: 550px)
{
	.offert {
		margin-top: 2px;
	}
}

@media screen and (min-width: 700px)
{
	.offert
	{
		&__wrapper {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}

		&__item:nth-child(n) {
			width: 49.5%;
		}

		&__item:nth-child(2n) {
			margin-left: 1px;
		}

		&__item:nth-child(2n+1) {
			margin-right: 1px;
		}
	}

}

@media screen and (min-width: 1000px)
{
	.offert
	{
		background-image: url('../img/offert-bg.png');

		position: relative;
		min-height: 660px;
		margin-top: 0;
		padding: 70px 0;
		padding-top: 0;

		&__wrapper {
			background-image: url('../img/offert-wrapper-bg.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;

			padding: 30px;
			padding-top: 50px;

			z-index: 2;

			width: $page-width-percentage;
			max-width: $page-width;
		}

		&__item {
			background: transparent;
		}

		&__heading-wrapper {
			@include sr-only();
		}

	}

}