.menu-hamburger
{
	width: 40px;
	height: 44px;
	background: transparent;
	border: 0;
	padding: 0;
	margin: 0;
	position: relative;

	& span
	{
		width: 40px;
		height: 2px;
		background-color: #ffffff;
		display: block;
		margin: 0 auto;
		padding: 0;
		border-radius: 3px;
		transition: opacity 0.3s ease, transform 0.3s ease;
	}

	&--close span:nth-child(1)
	{
		opacity: 1;
		transform: translateY(7px) rotate(45deg);
		transition: transform 0.3s ease;
	}

	&--close span:nth-child(2)
	{
		opacity: 0;
		transition: opacity 0.3s ease;
	}

	&--close span:nth-child(3)
	{
		transform: translateY(-13px) rotate(-45deg);
		transition: transform 0.3s ease;
	}
}

